.searchItem {
  display: flex;
  flex-direction: column; /* Change to column layout */
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.imageContainer {
  flex: 1;
}

.siImg {
  width: 100%;
  height: auto;
  max-height: 160px;
  object-fit: cover;
}

.detailsContainer {
  flex: 3;
  display: flex;
  flex-direction: column;
 /* Center details horizontally */

}