.searchItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
}

.imageContainer {
  flex: 1;
  border-radius: 20px;
  transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
}

.siImg {
  width: 450px;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
  transition: transform 0.3s ease-in-out;
}

.imageContainer:hover {
  transform: scale(1.1);
  margin: 10px;
}
