.searchItemHis {
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between; /* Add this line */
  gap: 20px; /* Add this line */
  margin-bottom: 20px;
}

.siImgHis {
  width: 160px;
  height: 160px;
  object-fit: cover;
}

.siDescHis {
  display: flex;
  flex-direction: column;
  /*gap: 10px;*/
  flex: 2;
}

.siTitleHis {
  font-size: 25px;
  color: #000000;
  font-family:BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.siDistanceHis {
  font-size: 12px;
}

.siTaxiOpHis {
  font-size: 12px;
  background-color: #008009;
  color: white;
  width: max-content;
  padding: 3px;
  border-radius: 5px;
}

.siSubtitleHis{
  font-size: 18px;
  /*font-weight: bold;*/
  margin-top: auto;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.siFeaturesHis{
  font-size: 15px;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  margin-top: auto;
}

.siCancelOpHis{
  font-size: 12px;
  color: #008009;
  font-weight: bold;
}

.siCancelOpSubtitleHis{
  font-size: 12px;
  color: #008009;
}

.siDetailsHis {
  margin-top: 10px;
  width: 150px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1px;
  margin-bottom: 10px
}

.siRatingHis{
  display: flex;
  justify-content: space-between
}

.siRatingHis>span{
  font-weight: 500;
}
.siRatingHis>button{
 background-color: #6522ad;
 color: white;
 padding: 5px;
 font-weight: bold;
 border: none;
 border-radius: 5px;
}

.siDetailTextsHis{
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.siPriceHis{
  font-size: 20px;
  margin-top: auto;
  font-family: "Dubai", serif;
}

.siTaxOpHis{
  font-size: 12px;
  color: gray;
}

.siCheckButtonHis{
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 10px 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  height: 40px;
  width: 100px;
  align-self: end;
}

.tooltipHis {
  position: relative;
  display: inline-block;
}

.tooltipHis .tooltipTextHis {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltipHis .tooltipTextHis p {
  margin: 0;
}

.tooltipHis:hover .tooltipTextHis {
  visibility: visible;
  opacity: 1;
}

.deleteIconHis {
  cursor: pointer;
  margin-left: 86px;
}