.searchItemHis {
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 22px;
  display: flex;
  justify-content: space-between; /* Add this line */
  gap: 20px; /* Add this line */
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out
}

.searchItemHis:hover {
  transform: scale(1.05); /* Scale the container */
}

.siImgHis {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 13px;
}

.siDescHis {
  display: flex;
  flex-direction: column;
  /*gap: 10px;*/
  flex: 2;
}

.siTitleHis {
  font-size: 25px;
  color: #000000;
}

.siFeaturesHis {
  font-size: 15px;
  margin-top: auto;
}

.siHeading {
  font-weight: bold;
  margin-right: 8px; /* Add some spacing between the heading and its value */
}

.siPriceHis {
  font-size: 20px;
  margin-top: auto;
  font-family: "Dubai", serif;
}
